<ion-content [fullscreen]="true">
  <div class="container-page">
    <!-- Container voltar -->
    <div class="container-back-button">
      <div class="block"></div>

      <div class="content-wrapper">
        <div class="back-button-svg-wrapper">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#ffffff33"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            routerLink="/profile"
          >
            <path d="M15 18l-6-6 6-6" />
          </svg>
        </div>

        <div class="back-button-text-wrapper">
          <span class="back-button-text">Voltar</span>
        </div>
      </div>
      <div class="block"></div>
    </div>

    <!-- container menu -->
    <div class="container-menu">
      <!--bloco-->
      <div class="block"></div>

      <div lines="full" class="content-card">
        <div class="item-card">
          <div class="menu-item" routerLink="/change-email">
            <ion-icon
              name="mail-outline"
              slot="start"
              class="settings-icon"
            ></ion-icon>
            <span>Alterar e-mail</span>
            <ion-icon
              name="chevron-forward-outline"
              slot="end"
              class="arrow-icon-one"
            ></ion-icon>
          </div>
        </div>

        <div class="line"></div>

        <div class="item-card" routerLink="/change-password">
          <div class="menu-item">
            <ion-icon
              name="lock-closed-outline"
              slot="start"
              class="start-icon"
            ></ion-icon>
            <span>Alterar senha</span>
            <ion-icon
              name="chevron-forward-outline"
              slot="end"
              class="arrow-icon-two"
            ></ion-icon>
          </div>
        </div>
      </div>

      <!--bloco-->
      <div class="block"></div>
    </div>
  </div>
</ion-content>
