* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ion-content {
  --background: black;
}

/*---------------------------------------------------------------------------------------------container-page*/
.container-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------------------------------------------------------container-page*/

/*---------------------------------------------------------------------------------------------Voltar*/

.container-back-button {
  display: grid;
  grid-template-columns: minmax(20px, 10px) 1fr minmax(20px, 10px);
  padding-top: env(safe-area-inset-top);

  .content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-button-svg-wrapper {
    left: -8px;
    position: absolute;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-button-text-wrapper {
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff33;

    .back-button-text {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/*---------------------------------------------------------------------------------------------Voltar*/

/*---------------------------------------------------------------------------------------------menu*/

.container-menu {
  display: grid;
  grid-template-columns: minmax(20px, 10px) 1fr minmax(20px, 10px);
  margin-top: 24px;
  min-height: 101px;
}

.content-card {
  background: #1d1d1d;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 20px;

  .line {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 1px;
  }

  .item-card {
    display: flex;
    flex-direction: column;

    .menu-item {
      padding: 20px 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      .settings-icon {
        color: #ffffff;
        font-size: 20px;
      }

      .start-icon {
        color: #ffffff;
        font-size: 20px;
      }

      span {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }

      .arrow-icon-one {
        position: absolute;
        right: 20px;
        color: rgba(255, 255, 255, 0.2);
        font-size: 20px;
      }

      .arrow-icon-two {
        position: absolute;
        right: 20px;
        color: rgba(255, 255, 255, 0.2);
        font-size: 20px;
      }
    }
  }
}

/*---------------------------------------------------------------------------------------------menu*/

/*---------------------------------------------------------------------------------------------sair*/
.container-footer {
  display: grid;
  grid-template-columns: minmax(20px, 10px) 1fr minmax(20px, 10px);
  margin-top: auto;
  margin-bottom: 10%;

  .lougout-button {
    color: #b8362c;
    font-size: 14px;
    font-weight: bold;
    -background: transparent;
    --background-hover: transparent;
    --background-focused: transparent;
    --background-activated: transparent;
    --ripple-color: transparent;
    --box-shadow: none;

    .logout-icon {
      font-size: 22px;
      color: #b8362c;
      margin-right: 8px;
    }
  }
}

/*---------------------------------------------------------------------------------------------sair*/
