<ion-content [fullscreen]="true">
  <!-- Container voltar -->
  <div class="container-back-button">
    <div class="block"></div>

    <div class="content-wrapper">
      <div class="back-button-svg-wrapper">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff33"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          routerLink="/settings"
        >
          <path d="M15 18l-6-6 6-6" />
        </svg>
      </div>

      <div class="back-button-text-wrapper">
        <span class="back-button-text">Voltar</span>
      </div>
    </div>
    <div class="block"></div>
  </div>

  <div class="container">
    <div class="block"></div>

    <div class="wrapper">
      <!-- e-mail -->
      <ion-item class="current-email-field-container" fill="underline">
        <ion-input
          type="email"
          placeholder="E-mail atual"
          class="current-email-input"
        ></ion-input>
      </ion-item>

      <!-- senha -->
      <ion-item class="new-email-field-container" fill="underline">
        <ion-input
          class="new-email-input"
          type="password"
          placeholder="E-mail novo"
        ></ion-input>
      </ion-item>

      <ion-button expand="block"> MUDAR E-MAIL </ion-button>
    </div>

    <div class="block"></div>
  </div>
</ion-content>
