* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ion-content {
  --background: black;
}

/*---------------------------------------------------------------------------------------------container-page*/

/*---------------------------------------------------------------------------------------------Voltar*/

.container-back-button {
  display: grid;
  grid-template-columns: minmax(20px, 10px) 1fr minmax(20px, 10px);
  padding-top: env(safe-area-inset-top);

  .content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-button-svg-wrapper {
    left: -8px;
    position: absolute;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-button-text-wrapper {
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff33;

    .back-button-text {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/*---------------------------------------------------------------------------------------------Voltar*/

/*---------------------------------------------------------------------------------------------email*/

.container {
  display: grid;
  grid-template-columns: minmax(20px, 10px) 1fr minmax(20px, 10px);
  margin-top: 24px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.current-email-field-container {
  --background: none;
  --inner-padding-end: 0;
  --padding-start: 0;
  width: 100%;

  .current-email-input {
    font-size: 14px;

    font-weight: bold;
    border: solid 1px white;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    color: #5d5f5e;
    --padding-start: 20px;
  }
}

.new-email-field-container {
  --background: none;
  --inner-padding-end: 0;
  --padding-start: 0;
  width: 100%;

  .new-email-input {
    font-size: 14px;
    font-weight: bold;
    border: solid 1px white;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    color: #5d5f5e;
    --padding-start: 20px;
    position: relative;
  }
}

ion-button {
  font-size: 12px;
  font-weight: bold;
  color: black;
  width: 95%;
  height: 50px;
  --border-radius: 30px;
  --background: white;
}

/*---------------------------------------------------------------------------------------------email*/
