.container-central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;

  ion-card {
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }

  ion-card-title {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
