<ion-content [fullscreen]="true">
  <div class="container-central">
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-subtitle>Bem-vindo ao Projeto</ion-card-subtitle>
        <ion-card-title>Página Inicial</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Esta é a base do seu aplicativo desenvolvido com
        <strong>Ionic + Angular</strong>. Pronto para começar a integrar suas
        APIs e serviços.
      </ion-card-content>

      <ion-button
        expand="block"
        fill="outline"
        routerLink="/group"
        class="ion-margin"
      >
        Conhecer o Grupo
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-card>
  </div>
</ion-content>
