<ion-content [fullscreen]="true">
  <!-- Container categorias -->
  <div class="container-categories">
    <div class="block"></div>

    <div class="content-wrapper-categories">
      <div class="categories" routerLink="/genres">
        <span class="categories-text">Filmes</span>
      </div>
      <div class="categories"><span class="categories-text">Séries</span></div>
      <div class="categories"><span class="categories-text">Animes</span></div>
    </div>

    <div class="block"></div>
  </div>
</ion-content>
