* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ion-content {
  --background: black;
}

/*---------------------------------------------------------------------------------------------Generos*/

.container-categories {
  display: grid;
  grid-template-columns: minmax(20px, 10px) 1fr minmax(20px, 10px);
  padding-top: env(safe-area-inset-top);
}

.content-wrapper-categories {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 180px));
  grid-template-rows: auto;
  gap: 20px;
  margin-top: 18px;

  .categories {
    border-radius: 10px;
    background-color: #1d1d1d;
    aspect-ratio: 6 / 5;
    overflow: hidden;
    position: relative;
  }

  .categories-text {
    bottom: 15%;
    left: 16px;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
}
