.header-image {
  background: var(--ion-color-light);
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--ion-color-step-150);

  ion-icon {
    font-size: 80px;
    color: var(--ion-color-primary);
  }

  h2 {
    font-weight: 600;
    color: var(--ion-color-dark);
  }
}

.avatar-placeholder {
  background: var(--ion-color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}

.description {
  p {
    line-height: 1.5;
    color: var(--ion-color-step-600);
    text-align: center;
  }
}
