<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Home -->
    <ion-tab-button tab="home" href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="36"
        height="36"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M4 12V18Q4 20 6 20H18Q20 20 20 18V12Q20 10 18.5 9L13.8 5.1Q12 4 10.2 5.1L5.5 9Q4 10 4 12"
        />
        <path d="M9.5 20V14Q9.5 13 10.3 13H13.7Q14.5 13 14.5 14V20" />
      </svg>
    </ion-tab-button>

    <!-- Lupa -->
    <ion-tab-button tab="search" href="/search">
      <svg
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M21 21L16.65 16.65"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </ion-tab-button>

    <ion-tab-button tab="categories" href=""
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="34"
        height="34"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <!-- Aba e parte traseira da pasta -->
        <path
          d="M4.5 18V6.8c0-1 .8-1.8 1.8-1.8H11l2.2 2.2h5.6c1 0 1.7.8 1.7 1.8V11"
          stroke="currentColor"
        />

        <!-- Corpo frontal inclinado (efeito de aberta) -->
        <path
          d="M4.5 18l2.3-6.5c.3-.8.9-1.3 1.8-1.3H21l-2.2 7.8Z"
          stroke="currentColor"
        />
      </svg>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/perfil">
      <svg
        width="32"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="12"
          cy="7"
          r="5"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
        />
        <path
          d="M19 21C19 17.134 15.866 14 12 14C8.13401 14 5 17.134 5 21"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
        />
      </svg>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
