<ion-content [fullscreen]="true">
  <div class="container-page">
    <!-- Container voltar -->
    <div class="container-back-button">
      <div class="block"></div>

      <div class="content-wrapper">
        <div class="back-button-svg-wrapper" routerLink="/home">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#ffffff33"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M15 18l-6-6 6-6" />
          </svg>
        </div>

        <div class="back-button-text-wrapper">
          <span class="back-button-text">Voltar</span>
        </div>
      </div>
      <div class="block"></div>
    </div>

    <!-- container menu -->
    <div class="container-menu">
      <!--bloco-->
      <div class="block"></div>

      <div lines="full" class="content-card">
        <div class="item-card">
          <div class="menu-item" routerLink="/settings">
            <ion-icon
              name="settings-outline"
              slot="start"
              class="settings-icon"
            ></ion-icon>
            <span>Configurações da conta</span>
            <ion-icon
              name="chevron-forward-outline"
              slot="end"
              class="arrow-icon-one"
            ></ion-icon>
          </div>
        </div>

        <div class="line"></div>

        <div class="item-card" routerLink="/folders">
          <div class="menu-item">
            <ion-icon
              name="star-outline"
              slot="start"
              class="start-icon"
            ></ion-icon>
            <span>Minha lista</span>
            <ion-icon
              name="chevron-forward-outline"
              slot="end"
              class="arrow-icon-two"
            ></ion-icon>
          </div>
        </div>
      </div>

      <!--bloco-->
      <div class="block"></div>
    </div>

    <!--Sair da conta -->
    <div class="container-footer">
      <!--bloco-->
      <div class="block"></div>

      <ion-button fill="clear" class="lougout-button" (click)="openModal()">
        <ion-icon
          slot="start"
          name="log-out-outline"
          class="logout-icon"
        ></ion-icon>
        Sair da conta
      </ion-button>

      <!--bloco-->
      <div class="block"></div>
    </div>
  </div>

  @if (isModalOpen) {
  <div class="custom-modal-overlay">
    <div class="custom-modal-box">
      <div class="modal-buttons">
        <button class="btn-sair" (click)="sair()">SAIR</button>
        <button class="btn-continuar" (click)="closeModal()">CONTINUAR</button>
      </div>
    </div>
  </div>
  }
</ion-content>
