<ion-content [fullscreen]="true">
  <div class="container-back-button">
    <div class="block"></div>

    <div class="content-wrapper">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        routerLink="/categories"
        class="back-icon"
      >
        <path d="M15 18l-6-6 6-6" />
      </svg>
      <span class="back-button-text" routerLink="/categories">Voltar</span>
    </div>

    <div class="block"></div>
  </div>

  <div class="container-genres">
    <div class="block"></div>

    <div class="content-wrapper-genres">
      <div class="genres"><span class="genres-text">ação</span></div>
      <div class="genres"><span class="genres-text">gênero</span></div>
      <div class="genres"><span class="genres-text">gênero</span></div>
      <div class="genres"><span class="genres-text">gênero</span></div>
      <div class="genres"><span class="genres-text">gênero</span></div>
      <div class="genres"><span class="genres-text">gênero</span></div>
      <div class="genres"><span class="genres-text">gênero</span></div>
    </div>

    <div class="block"></div>
  </div>
</ion-content>
