<ion-content [fullscreen]="true">
  <div class="container">
    <div class="wrapper">
      <h1>Esqueci minha senha</h1>

      @if (mensagemStatus) {
      <p
        [ngStyle]="{'color': statusSucesso ? '#2dd36f' : '#eb445a', 'font-weight': '500', 'font-size': '14px', 'margin': '10px 0', 'text-align': 'center'}"
      >
        {{ mensagemStatus }}
      </p>
      }

      <ion-item class="email-field-container" fill="underline">
        <ion-input
          type="email"
          placeholder="E-mail"
          class="login-field-input"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="enviarEmail()"
        >ENVIAR E-MAIL</ion-button
      >
    </div>

    <div class="signup-wrapper">
      <p class="signup-text">Possui uma conta ?</p>
      <a class="signup-link" routerLink="/login">Fazer login</a>
    </div>
  </div>
</ion-content>
