<ion-content [fullscreen]="true">
  <div class="container">
    <div class="wrapper">
      <h1>Esqueci minha senha</h1>
      <!-- Título simples -->

      <!-- e-mail -->
      <ion-item class="email-field-container" fill="underline">
        <ion-input
          type="email"
          placeholder="E-mail"
          class="login-field-input"
        ></ion-input>
      </ion-item>

      <ion-button expand="block">ENVIAR E-MAIL</ion-button>
    </div>

    <div class="signup-wrapper">
      <p class="signup-text">Possui uma conta ?</p>
      <a class="signup-link" routerLink="/login">Fazer login</a>
    </div>
  </div>
</ion-content>
