<ion-content fullscreen="true">
  <!-- Container voltar -->
  <div class="container-back-button">
    <div class="block"></div>

    <div class="content-wrapper">
      <div class="back-button-svg-wrapper" routerLink="/folders">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff33"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M15 18l-6-6 6-6" />
        </svg>
      </div>

      <div class="back-button-text-wrapper">
        <span class="back-button-text">Voltar</span>
      </div>
    </div>
    <div class="block"></div>
  </div>

  <!-- container filmes -->
  <div class="container-movies">
    <div class="block"></div>

    <div class="content-card">
      <div
        class="item-card"
        *ngFor="let filme of filmes"
        (click)="abrirDetalhes(filme)"
      >
        <div class="item-cover">
          <img class="item-img" [src]="getImagem(filme)" [alt]="filme.titulo" />
        </div>

        <h3 class="item-name">{{ filme.titulo }}</h3>
      </div>
    </div>

    <div class="block"></div>
  </div>
</ion-content>
