<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button [routerLink]="['/profile']"> Ir para grupo </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="group-content">
  <div class="container">
    <h2 class="title">Conheça os integrantes</h2>
    <p class="subtitle">
      Cada pessoa aqui faz parte da construção do projeto 🚀
    </p>

    <div class="members-grid">
      <div class="member-card">
        <img src="assets/group/marlon.jpeg" alt="Membro 1" />
        <h3>Marlon Freitas da Silva</h3>
        <span>Desenvolvedor Front-end e UI/UX Designer</span>
      </div>

      <div class="member-card">
        <img src="assets/group/erick.jpeg" alt="Membro 2" />
        <h3>Erick Tostes da Silva</h3>
        <span>Back-end e documentação</span>
      </div>

      <div class="member-card">
        <img src="assets/group/julio.jpeg" alt="Membro 3" />
        <h3>Júlio Cézar Gonçalves de Souza</h3>
        <span>back-end</span>
      </div>
    </div>
  </div>
</ion-content>
